red=D02D0A

#nav li {
  list-style-type: none;
  text-align: center;
}

#body p {
  text-align: left;
  background-color: rgb(255, 255, 255);
}

#avamas {
  text-align: center;
  font-family: Georgia, "times new roman", serif;
  font-size: "20pt";
}

#resume img {
  align-items: center

}

#footer {
  text-align: center;
}
