#nav {
  list-style-type: none;
}

#body {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

#Hello {
  font-size: "14pt";
  font-family: Georgia, "times new roman", serif;
}

#pets {
  background-color: rgb(196, 9, 15);
}

#legs {
  font-size: "25pt";
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

#siblings {
  text-align: right;
}

#children {
  text-align: left;
}

#footer {
  text-align: center;
}
